{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

    <section id="main">
        <input type="hidden" name="pageTitle" id="pageTitle" value="1" />
        <div id="our-products" style="background:#333 url({% static 'img/icon-background.png' %}) repeat
        scroll center center">
            <div class="container">
                <div class="container-pk">
                    <h1 class="text-home-title">Find and Compare any Product with its Lowest Price Online</h1>
                    <div class="wrapper col-sm-12 col-md-12 col-lg-9">
                        <div class="ui-widget">
                            <form action="https://www.jitlam.com/search" method="GET" name="searchgadget">
                                <input class="q" name="search" type="text"
                                       placeholder="What are you looking for?">
                                <button type="submit" id="searchbtn"
                                        value="Search"><i class="fas fa-search"></i> Search</button>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="top-trending-phones col-sm-12 col-md-12 col-lg-9">
                        <div class="top-trending-mobiles">
                            <span><a href="#" title="Swipe Slate Plus">Swipe
                                Slate Plus</a>, </span>
                            <span><a href="#" title="Cubot Cheetah 2">Cubot
                                Cheetah 2</a> </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div>
            <div class="container">
                <div class="row">
                    <div id="tabs-cmp" class="tabs-home">
                        <h2 class="col-sm-12 col-xs-12">Categories</h2>
                        <div id="top-os">
                            <div class="home-products">
                                <div class="col-sm-2 col-xs-6">
                                    <div class="mobile-info">
                                        <div class="col-sm-12 col-xs-12">
                                            <a href="/category" title="Mobiles">
                                                <img  class="lazyload"
                                                      data-src="
{% static 'img/product/mobile.jpg' %}" alt="Mobiles">
                                            </a>
                                            <div class="mkt-ttl">
                                                <a href="#" title="Mobiles">Mobiles </a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-6">
                                    <div class="mobile-info">
                                        <div class="col-sm-12 col-xs-12">
                                            <a href="/category" title="Tablets">
                                                <img class="lazyload" data-src="{% static 'img/category/tablets-01.jpg' %}" alt="Tablets">
                                            </a>
                                            <div class="mkt-ttl">
                                                <a href="#" title="Tablets">Tablets </a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-6">
                                    <div class="mobile-info">
                                        <div class="col-sm-12 col-xs-12">
                                            <a href="/category" title="Laptops">
                                                <img class="lazyload" data-src="{% static 'img/category/laptops-01.jpg' %}" alt="Laptops">
                                            </a>
                                            <div class="mkt-ttl">
                                                <a href="#" title="Laptops">Laptops </a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-6">
                                    <div class="mobile-info">
                                        <div class="col-sm-12 col-xs-12">
                                            <a href="/category" title="Smartwatches">
                                                <img class="lazyload" data-src="{% static 'img/category/smartwatches-01.jpg' %}" alt="Smartwatches">
                                            </a>
                                            <div class="mkt-ttl">
                                                <a href="#" title="Smartwatches">Smartwatches </a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                 </div>
                                 <div class="col-sm-2 col-xs-6">
                                    <div class="mobile-info">
                                        <div class="col-sm-12 col-xs-12">
                                            <a href="/category" title="Accessories">
                                                <img class="lazyload" data-src="{% static 'img/category/mobile-accessories-01.jpg' %}" alt="Accessories">
                                            </a>
                                            <div class="mkt-ttl">
                                                <a href="#" title="Accessories">Accessories </a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-6">
                                    <div class="mobile-info">
                                        <div class="col-sm-12 col-xs-12">
                                            <a href="/category" title="Cameras">
                                                <img class="lazyload" data-src="{% static 'img/category/camera-dslr-01.jpg' %}" alt="Cameras">
                                            </a>
                                            <div class="mkt-ttl">
                                                <a href="#" title="Cameras">Cameras </a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="let-us">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-xs-4">
                        <a href="#" title="ajkerdeal.com"> <img alt="ajkerdeal
                        .com" class="lazyload" data-src="
{% static 'img/company/Ajkerdeal-Logo.jpg' %}"> </a>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <a href="#" title="bagdoom.com"> <img alt="bagdoom.com"
                                                       class="lazyload" data-src="
{% static 'img/company/bagdoom.jpg' %}"> </a>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <a href="#" title="Tatacliq.com"> <img alt="Tatacliq
                        .com" class="lazyload" data-src="
{% static 'img/company/daraz-logo.png' %}"> </a>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <a href="#" title="pickaboo.com"> <img alt="pickaboo
                        .com" class="lazyload" data-src="
{% static 'img/company/pickaboo.jpg' %}"> </a>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <a href="#" title="priyoshop.com"> <img
                                alt="priyoshop.com" class="lazyload"
                                data-src="
{% static 'img/company/priyoshop.png' %}"> </a>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <a href="#" title="othoba.com"> <img alt="othoba.com"
                                                          class="lazyload"
                                                          data-src="
{% static 'img/company/othoba.jpg' %}"> </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}