{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="category"></div>
    <section id="main">
        <div class="container pk-lt_page">
            <div class="breadcrumb breadcrumcategories">
                <div id="breadcrum1">
                    <a itemprop="url" href="/" title="Home">Home</a> /
                </div>
                <div id="breadcrum2">
                    <a href="#" title="Mobile &amp; Tablets">Mobile &
                        Tablets</a>
                </div>
                <div class="pull-right">Last updated on <strong
                        class="published"
                        datetime="2018-06-25T09:40:38+05:30"
                        title="2018-06-25T09:40:38+05:30">25th June
                    2018</strong></div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="col-sm-12 populerListBg">
                <div class="mkt-ttl18">Name of the Category <a
                        class="mkt-ttl135 pull-right" href="#" title="All
                        Popular Mobiles in Bangladesh">View all</a></div>
                <div class="home-products">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-xs-6">
                            <div class="mobile-info">
                                <div class="score score-grid"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title=""
                                     data-original-title="Kinlam Score is
                                     based on mobile specs, prices &amp; other factors, this will guide you to select the best smartphone available in a price range.">80</div>
                                <a href="category/product-details" title="Samsung Galaxy C9 pro">
                                    <img alt="Buy Samsung Galaxy C9 pro"
                                         class="lazyload" data-src="{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}"></a>
                                <div class="border"></div>
                                <div class="mkt-ttl"><a href="category/product-details" title="Samsung Galaxy C9 pro">Samsung Galaxy C9 pro</a></div>
                                <div class="price"> <span>&#2547; 26,899
                                </span> </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-xs-6">
                            <div class="mobile-info">
                                <div class="score score-grid"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title=""
                                     data-original-title="Kinlam Score is
                                     based on mobile specs, prices &amp; other factors, this will guide you to select the best smartphone available in a price range.">80</div>
                                <a href="category/product-details" title="Samsung Galaxy C9 pro">
                                    <img alt="Buy Samsung Galaxy C9 pro"
                                         class="lazyload" data-src="{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}"></a>
                                <div class="border"></div>
                                <div class="mkt-ttl"><a href="category/product-details" title="Samsung Galaxy C9 pro">So delightful up dissimilar by unreserved it connection </a></div>
                                <div class="price"> <span>&#2547; 26,899
                                </span> </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-xs-6">
                            <div class="mobile-info">
                                <div class="score score-grid"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title=""
                                     data-original-title="Kinlam Score is
                                     based on mobile specs, prices &amp; other factors, this will guide you to select the best smartphone available in a price range.">80</div>
                                <a href="category/product-details" title="Samsung Galaxy C9 pro">
                                    <img alt="Buy Samsung Galaxy C9 pro"
                                         class="lazyload" data-src="{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}"></a>
                                <div class="border"></div>
                                <div class="mkt-ttl"><a href="category/product-details" title="Samsung Galaxy C9 pro">Samsung Galaxy C9 pro</a></div>
                                <div class="price"> <span>&#2547; 26,899
                                </span> </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-xs-6">
                            <div class="mobile-info">
                                <div class="score score-grid"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title=""
                                     data-original-title="Kinlam Score is
                                     based on mobile specs, prices &amp; other factors, this will guide you to select the best smartphone available in a price range.">80</div>
                                <a href="category/product-details" title="Samsung Galaxy C9 pro">
                                    <img alt="Buy Samsung Galaxy C9 pro"
                                         class="lazyload" data-src="{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}"></a>
                                <div class="border"></div>
                                <div class="mkt-ttl"><a href="category/product-details" title="Samsung Galaxy C9 pro">Samsung Galaxy C9 pro</a></div>
                                <div class="price"> <span>&#2547; 26,899
                                </span> </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-xs-6">
                            <div class="mobile-info">
                                <div class="score score-grid"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title=""
                                     data-original-title="Kinlam Score is
                                     based on mobile specs, prices &amp; other factors, this will guide you to select the best smartphone available in a price range.">80</div>
                                <a href="category/product-details" title="Samsung Galaxy C9 pro">
                                    <img alt="Buy Samsung Galaxy C9 pro"
                                         class="lazyload" data-src="{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}"></a>
                                <div class="border"></div>
                                <div class="mkt-ttl"><a href="category/product-details" title="Samsung Galaxy C9 pro">Samsung Galaxy C9 pro</a></div>
                                <div class="price"> <span>&#2547; 26,899
                                </span> </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-xs-6">
                            <div class="mobile-info">
                                <div class="score score-grid"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title=""
                                     data-original-title="Kinlam Score is
                                     based on mobile specs, prices &amp; other factors, this will guide you to select the best smartphone available in a price range.">80</div>
                                <a href="category/product-details" title="Samsung Galaxy C9 pro">
                                    <img alt="Buy Samsung Galaxy C9 pro"
                                         class="lazyload" data-src="{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}"></a>
                                <div class="border"></div>
                                <div class="mkt-ttl"><a href="category/product-details" title="Samsung Galaxy C9 pro">Samsung Galaxy C9 pro</a></div>
                                <div class="price"> <span>&#2547; 26,899
                                </span> </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-xs-6">
                            <div class="mobile-info">
                                <div class="score score-grid"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title=""
                                     data-original-title="Kinlam Score is
                                     based on mobile specs, prices &amp; other factors, this will guide you to select the best smartphone available in a price range.">80</div>
                                <a href="category/product-details" title="Samsung Galaxy C9 pro">
                                    <img alt="Buy Samsung Galaxy C9 pro"
                                         class="lazyload" data-src="{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}"></a>
                                <div class="border"></div>
                                <div class="mkt-ttl"><a href="category/product-details" title="Samsung Galaxy C9 pro">Samsung Galaxy C9 pro</a></div>
                                <div class="price"> <span>&#2547; 26,899
                                </span> </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-xs-6">
                            <div class="mobile-info">
                                <div class="score score-grid"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title=""
                                     data-original-title="Kinlam Score is
                                     based on mobile specs, prices &amp; other factors, this will guide you to select the best smartphone available in a price range.">80</div>
                                <a href="category/product-details" title="Samsung Galaxy C9 pro">
                                    <img alt="Buy Samsung Galaxy C9 pro"
                                         class="lazyload" data-src="{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}"></a>
                                <div class="border"></div>
                                <div class="mkt-ttl"><a href="category/product-details" title="Samsung Galaxy C9 pro">Samsung Galaxy C9 pro</a></div>
                                <div class="price"> <span>&#2547; 26,899
                                </span> </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-xs-6">
                            <div class="mobile-info">
                                <div class="score score-grid"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title=""
                                     data-original-title="Kinlam Score is
                                     based on mobile specs, prices &amp; other factors, this will guide you to select the best smartphone available in a price range.">80</div>
                                <a href="category/product-details" title="Samsung Galaxy C9 pro">
                                    <img alt="Buy Samsung Galaxy C9 pro"
                                         class="lazyload" data-src="{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}"></a>
                                <div class="border"></div>
                                <div class="mkt-ttl"><a href="category/product-details" title="Samsung Galaxy C9 pro">Samsung Galaxy C9 pro</a></div>
                                <div class="price"> <span>&#2547; 26,899
                                </span> </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-xs-6">
                            <div class="mobile-info">
                                <div class="score score-grid"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title=""
                                     data-original-title="Kinlam Score is
                                     based on mobile specs, prices &amp; other factors, this will guide you to select the best smartphone available in a price range.">80</div>
                                <a href="category/product-details" title="Samsung Galaxy C9 pro">
                                    <img alt="Buy Samsung Galaxy C9 pro"
                                         class="lazyload" data-src="{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}"></a>
                                <div class="border"></div>
                                <div class="mkt-ttl"><a href="category/product-details" title="Samsung Galaxy C9 pro">Samsung Galaxy C9 pro</a></div>
                                <div class="price"> <span>&#2547; 26,899
                                </span> </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-xs-6">
                            <div class="mobile-info">
                                <div class="score score-grid"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title=""
                                     data-original-title="Kinlam Score is
                                     based on mobile specs, prices &amp; other factors, this will guide you to select the best smartphone available in a price range.">80</div>
                                <a href="category/product-details" title="Samsung Galaxy C9 pro">
                                    <img alt="Buy Samsung Galaxy C9 pro"
                                         class="lazyload" data-src="{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}"></a>
                                <div class="border"></div>
                                <div class="mkt-ttl"><a href="category/product-details" title="Samsung Galaxy C9 pro">Samsung Galaxy C9 pro</a></div>
                                <div class="price"> <span>&#2547; 26,899
                                </span> </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-xs-6">
                            <div class="mobile-info">
                                <div class="score score-grid"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title=""
                                     data-original-title="Kinlam Score is
                                     based on mobile specs, prices &amp; other factors, this will guide you to select the best smartphone available in a price range.">80</div>
                                <a href="category/product-details" title="Samsung Galaxy C9 pro">
                                    <img alt="Buy Samsung Galaxy C9 pro"
                                         class="lazyload" data-src="{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}"></a>
                                <div class="border"></div>
                                <div class="mkt-ttl"><a href="category/product-details" title="Samsung Galaxy C9 pro">Samsung Galaxy C9 pro</a></div>
                                <div class="price"> <span>&#2547; 26,899
                                </span> </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix">&nbsp;</div>
{% load mathfilters %}
{{ 2 | addition:2 }}
        </div>
        <div class="clearfix">&nbsp;</div>
    </section>
{% endblock %}