{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    <div class="category">&nbsp;</div>

    <section id="main">
    <div class="post">
        <div class="container no-padding">
            <div class="breadcrumb">
                <div id="breadcrum1"> <a href="#"
                                         title="Home">Home</a> / </div>
                <div id="breadcrum2"> <a href="#" title="Mobile Phones price 
                list in Bnagladesh">Mobile</a> /
                </div>
                <div id="breadcrum3"> <a href="#" title="Samsung Mobile Phones
                 in Bangladesh">Samsung</a> / </div>
                <div id="breadcrum4"> <a href="#" title="Samsung Galaxy S9
                Plus 64 GB">Samsung Galaxy S9 Plus 64 GB</a></div>
            </div>
        </div>
        <div id="overview" class="container no-padding">
            <div id="stkyhdr" class="stkyhdr scrollSticky">
                <ul class="nav nav--block">
                    <li class="stkyhdr--lnk"> <a class="stkyhdr__lnk text--center stkyhdrLnk gotoc" href="#overview">Overview</a> </li>
                    <li class="stkyhdr--lnk"> <a class="stkyhdr__lnk text--center stkyhdrLnk gotoc" href="#specifications">Specs</a> </li>
                    <li class="stkyhdr--lnk notablet hide"> <a 
                            class="stkyhdr__lnk text--center stkyhdrLnk gotoc" href="#mk-review">Reviews</a> </li>
                </ul>
            </div>
        </div>
        <div class="entry">
            <div class="container prkt-single_block">
                <div class="product">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="col-sm-12">
                                <div class="row">
                                    <h1>Samsung Galaxy S9 Plus 64 GB</h1>
                                    <p class="product_status"> By <a href="#" title="Mobile Phones by Samsung">Samsung Mobiles</a> | Market Status: <span class="text-success">Available in Bangladesh</span> </p>
                                </div>
                            </div>
                        </div>
                        <div class="border"></div>

                        {#slider#}
                        <div class="col-sm-4">
                            <div class="single-item">
                                <div class="image">
                                    <img class="lazyload" data-src=
                                            "{% static 'img/1.jpg' %}"
                                         alt="">
                                </div>
                                <div class="image">
                                    <img class="lazyload" data-src="{% static 'img/2.jpg' %}" alt="">
                                </div>
                                <div class="image">
                                    <img class="lazyload" data-src="{% static 'img/3.jpg' %}" alt="">
                                </div>
                                <div class="image">
                                    <img class="lazyload" data-src="{% static 'img/4.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-8 product_description">
                            <div class="col-sm-3 col-md-2">
                                <div class="row">
                                    <div class="ratings">
                                        <div class="score"> 80 </div>
                                        <div class="score-info"> Score </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-4 pdt-rating">
                                <div class="row">
                                    <div class="product-rating">
                                        <div class="rating_pane" data-toggle="tooltip" data-placement="top" title="Rated 5/5 by 1 users">
                                            <div class="rating_bar"> <span class="active" data-value="1"></span> <span class="active" data-value="2"></span> <span class="active" data-value="3"></span> <span class="active" data-value="4"></span> <span class="active" data-value="5"></span> </div> (1 rating) </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 topprice-review text-center">
                                <div class="row"> <a class="gotoc" href="#reviews-comments"><i class="fa fa-pencil" aria-hidden="true"></i>  Review & Comments</a> </div>
                            </div>
                            <div class="col-sm-3 col-md-3 top-views text-center">
                                <div class="row" id="ddm-hits"> <i class="fa fa-eye"></i>  801 views </div>
                            </div>
                            <div class="border"></div>
                            <div class="col-sm-3 col-md-3 product-price">
                                <div class="row">
                                    <div class="best-price bold"> &#2547; 59,
                                        999 <span class="text-success">(15%)</span> </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 mkt-ttl180"> <span class="strike">&#2547; 70000</span> <small class="meta"> mrp</small> </div>

                            <div class="clearfix">&nbsp;</div>
                            <div class="col-sm-6 display">
                                <div class="view-variant"> 
                                    Variants: 
                                    <a class="display_formatt active-variant"
                                       href="#" title="BDT. 59,999">64GB</a>
                                    <a class="display_formatt " href="#"
                                       title="BDT. 66,724">128GB</a>
                                    <a class="display_formatt " href="#"
                                       title="BDT. 71,000">256GB</a> </div>
                                </div>
                            <div class="col-sm-12 display">
                                <div class="three_store_list">
                                    <div class="storelist">
                                        <div class="col-sm-3 store_img">
                                            <a target="_blank" rel="nofollow" href="#" title="Buy on Tatacliq.com">
                                                <img src="https://cdn2.pricekart.com/store/tatacliq-250x100.jpg" alt="Buy on Tatacliq.com">
                                            </a>
                                        </div>
                                        <div class="col-sm-2 text-right">
                                            <span class="s-p__color" data-toggle="tooltip" data-placement="top" title="Midnight Black" style="background:#000000"></span>
                                        </div>
                                        <div class="col-sm-4 pro_price">
                                            <div class="bold">
                                                <a target="_blank" rel="nofollow" href="#" title="Buy on Tatacliq.com"> &#2547;59,999</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 store_link">
                                            <a target="_blank" rel="nofollow" href="#" class="buy-now" title="Buy on Tatacliq.com"><i class="fa fa-shopping-cart"></i>  Go to Store</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="storelist">
                                        <div class="col-sm-3 store_img">
                                            <a target="_blank" rel="nofollow" href="#" title="Buy on Tatacliq.com">
                                                <img src="https://cdn2.pricekart.com/store/tatacliq-250x100.jpg" alt="Buy on Tatacliq.com">
                                            </a>
                                        </div>
                                        <div class="col-sm-2 text-right">
                                            <span class="s-p__color" data-toggle="tooltip" data-placement="top" title="Midnight Black" style="background:#000000"></span>
                                        </div>
                                        <div class="col-sm-4 pro_price">
                                            <div class="bold">
                                                <a target="_blank" rel="nofollow" href="#" title="Buy on Tatacliq.com"> &#2547;59,999</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 store_link">
                                            <a target="_blank" rel="nofollow" href="#" class="buy-now" title="Buy on Tatacliq.com"><i class="fa fa-shopping-cart"></i>  Go to Store</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="storelist">
                                        <div class="col-sm-3 store_img">
                                            <a target="_blank" rel="nofollow" href="#" title="Buy on Tatacliq.com">
                                                <img src="https://cdn2.pricekart.com/store/tatacliq-250x100.jpg" alt="Buy on Tatacliq.com">
                                            </a>
                                        </div>
                                        <div class="col-sm-2 text-right">
                                            <span class="s-p__color" data-toggle="tooltip" data-placement="top" title="Midnight Black" style="background:#000000"></span>
                                        </div>
                                        <div class="col-sm-4 pro_price">
                                            <div class="bold">
                                                <a target="_blank" rel="nofollow" href="#" title="Buy on Tatacliq.com"> &#2547;59,999</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 store_link">
                                            <a target="_blank" rel="nofollow" href="#" class="buy-now" title="Buy on Tatacliq.com"><i class="fa fa-shopping-cart"></i>  Go to Store</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-sm-12 text-right mkt-ttl"> </div>
                                </div>
                            </div>
                            <div class="col-sm-12 display">
                                <ul class="product_specification">
                                    <li>Samsung Galaxy S9 Plus 64 GB runs on <strong>Android Oreo 8.0</strong>. </li>
                                    <li>It has a <strong>6.2 Inch Super AMOLED Capacitive Touchscreen, Multi-touch display</strong>.</li>
                                    <li>The Phone is powered by a <strong>2.7 GHz Octa-core processor </strong> with <strong> 6 GB RAM </strong>.</li>
                                    <li>The device comes with a <strong>8 MP Front camera and 12 + 12 MP Dual Rear camera </strong> with <strong>a Flash</strong>.</li>
                                    <li>It comes with <strong>64GB of built-in storage</strong> which can further be <strong></strong>expanded using a <strong>microSD, Up to 400 GB</strong>.</li>
                                    <li>Connectivity includes <strong> Dual SIM, 4G LTE</strong>.</li>
                                    <li>The Device has a non-removable <strong>Li-Ion 3500 mAh battery</strong>.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="pros-cons" class="container prkt-single_block">
                <div id="ui-tabs1" class="pros-cons">
                    <div class="tabs-info">
                        <h3>Samsung Galaxy S9 Plus 64 GB Pros & Cons </h3> </div>
                    <div class="col-sm-6 col-md-6 pros">
                        <p class="mkt-ttl"><span class="text-success">Pros</span></p>
                        <ul>
                            <li>Phenomenal dual edge design with corning gorilla glass 5 </li>
                            <li>Smart scan combines face recognition and Iris scanner </li>
                            <li>QuadHD+ Super AMOLED Display </li>
                            <li>Fast wireless charging </li>
                            <li>Super Slow motion capture</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 cons">
                        <p class="mkt-ttl"><span class="text-danger">Cons</span></p>
                        <ul>
                            <li>Hybrid SIM Slot </li>
                            <li>Glass Back panel Fingerprint magnet</li>
                        </ul>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>
            <div id="ui-tabs" class="default-two-part">
                <div id="specifications">
                    <div class="container prkt-single_block">
                        <h3>Samsung Galaxy S9 Plus 64 GB Specifications </h3>
                        <p>Check Samsung Galaxy S9 Plus 64 GB specifications and features. We have listed maximum specifications which will guide you to make a smart choice.</p>
                        <table class="full-specifications">
                            <tbody>
                                <tr>
                                    <th colspan="2">Display</th>
                                </tr>
                                <tr>
                                    <td>Screen Size</td>
                                    <td>6.2 inches</td>
                                </tr>
                                <tr>
                                    <td>Screen Resolution</td>
                                    <td>1440 x 2560 pixels</td>
                                </tr>
                                <tr>
                                    <td>Pixel Density</td>
                                    <td>474 Pixels per Inch(PPI)</td>
                                </tr>
                                <tr>
                                    <td>Screen Protection</td>
                                    <td>Corning Gorilla Glass 5</td>
                                </tr>
                                <tr>
                                    <td>Display Type</td>
                                    <td>Super AMOLED Capacitive Touchscreen, Multi-touch</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Camera</th>
                                </tr>
                                <tr>
                                    <td>Rear Camera Resolution</td>
                                    <td>12 + 12 MP</td>
                                </tr>
                                <tr>
                                    <td>Front Camera Resolution</td>
                                    <td>8 MP</td>
                                </tr>
                                <tr>
                                    <td>Dual Camera</td>
                                    <td>Auto, Food, Hyperlapse, Live Focus, Panorama, Pro, Slow Motion, Sports, Stickers, Super Slow-mo</td>
                                </tr>
                                <tr>
                                    <td>Video Recording</td>
                                    <td>Yes, 3840x2160 @ 30 fps, 1920x1080 @ 60 fps, 1280x720 @ 120 fps</td>
                                </tr>
                                <tr>
                                    <td>Video Rec Resolution</td>
                                    <td>4K Video Recording</td>
                                </tr>
                                <tr>
                                    <td>Camera Features</td>
                                    <td>Autofocus, Flash, Geo-Tagging, Touch Focus, Digital Zoom, Face Detection</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Storage</th>
                                </tr>
                                <tr>
                                    <td>Internal Storage</td>
                                    <td>64 GB</td>
                                </tr>
                                <tr>
                                    <td>Card Slot/Expandable</td>
                                    <td>microSD, Up to 400 GB</td>
                                </tr>
                                <tr>
                                    <td>Other</td>
                                    <td>64 GB, Expandable up to 400 GB</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Design & Build</th>
                                </tr>
                                <tr>
                                    <td>Weight</td>
                                    <td>189 grams</td>
                                </tr>
                                <tr>
                                    <td>Dimensions</td>
                                    <td>158.1 x 73.8 x 8.5 mm </td>
                                </tr>
                                <tr>
                                    <th colspan="2">Software</th>
                                </tr>
                                <tr>
                                    <td>Operating System</td>
                                    <td>Android </td>
                                </tr>
                                <tr>
                                    <td>OS Version</td>
                                    <td>Android Oreo 8.0 </td>
                                </tr>
                                <tr>
                                    <th colspan="2">Battery</th>
                                </tr>
                                <tr>
                                    <td>Battery Capacity</td>
                                    <td>3500 mAh</td>
                                </tr>
                                <tr>
                                    <td>Battery Type</td>
                                    <td>Li-Ion </td>
                                </tr>
                                <tr>
                                    <td>Stand By Time</td>
                                    <td>Up to 94 hrs </td>
                                </tr>
                                <tr>
                                    <td>Talk Time</td>
                                    <td>Up to 15 hrs </td>
                                </tr>
                                <tr>
                                    <td>Quick Charging</td>
                                    <td>Yes, Fast Charging on Wired and wireless</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Communication</th>
                                </tr>
                                <tr>
                                    <td>SIM Card Slots</td>
                                    <td>Dual SIM </td>
                                </tr>
                                <tr>
                                    <td>SIM Card Type</td>
                                    <td>SIM 1: Nano-SIM
                                        <br/>SIM2: Nano-SIM </td>
                                </tr>
                                <tr>
                                    <td>Bluetooth</td>
                                    <td>Yes, 5.0, A2DP, LE, aptX </td>
                                </tr>
                                <tr>
                                    <td>3.5 mm Jack</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>NFC</td>
                                    <td>Yes </td>
                                </tr>
                                <tr>
                                    <th colspan="2">Chipset</th>
                                </tr>
                                <tr>
                                    <td>Brand</td>
                                    <td>Samsung </td>
                                </tr>
                                <tr>
                                    <td>Chipset</td>
                                    <td>Exynos 9810 </td>
                                </tr>
                                <tr>
                                    <td>Processor</td>
                                    <td>2.7 GHz Octa-core processor </td>
                                </tr>
                                <tr>
                                    <td>RAM</td>
                                    <td>6 GB RAM</td>
                                </tr>
                                <tr>
                                    <td>GPU</td>
                                    <td>ARM Heimdall MP18</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Connectivity</th>
                                </tr>
                                <tr>
                                    <td>VoLTE</td>
                                    <td>Yes </td>
                                </tr>
                                <tr>
                                    <td>4G</td>
                                    <td>Yes, FDD-LTE--800 / 1800 / 1900 / 2100 / 2600 MHz </td>
                                </tr>
                                <tr>
                                    <td>3G</td>
                                    <td>Yes, UMTS 2100 / 900 MHz </td>
                                </tr>
                                <tr>
                                    <td>2G</td>
                                    <td>Yes, GSM 1800 / 1900 / 850 / 900 MHz </td>
                                </tr>
                                <tr>
                                    <td>Wi-Fi</td>
                                    <td>Yes, Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot </td>
                                </tr>
                                <tr>
                                    <td>GPS</td>
                                    <td>Yes, A-GPS, GLONASS, BDS, GALILEO </td>
                                </tr>
                                <tr>
                                    <td>GPRS</td>
                                    <td>Yes </td>
                                </tr>
                                <tr>
                                    <td>EDGE</td>
                                    <td>Yes </td>
                                </tr>
                                <tr>
                                    <td>Radio</td>
                                    <td>Yes </td>
                                </tr>
                                <tr>
                                    <th colspan="2">Other Features</th>
                                </tr>
                                <tr>
                                    <td>Fingerprint Scanner</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>Waterproof</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>Sensors</td>
                                    <td>Accelerometer, Barometer, Gyro Sensor, Compass, Hall Sensor,HR Sensor, Proximity Sensor, RGB Light Sensor, Pressure senso</td>
                                </tr>
                                <tr>
                                    <td>USB connectivity</td>
                                    <td>Type-C</td>
                                </tr>
                                <tr>
                                    <td>OTG</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>Security</td>
                                    <td>Face Detection</td>
                                </tr>
                                <tr>
                                    <td>Sensors</td>
                                    <td>Iris scanner</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clearfix">&nbsp;</div>
                    </div>
                </div>
                <div class="container prkt-single_block">
                    <div class="clearfix">&nbsp;</div>
                    <div class="tabs-info">
                        <div class="mkt-ttl">People also viewed</div>
                    </div>
                    <div class="home-products">
                        <div class="row">
                            <div class="col-sm-2 col-md-2">
                                <div class="mobile-info"> <span data-mk-id="268933"></span>
                                    <div class="mobile-img">
                                        <a class="mobile-link"
                                           id="samsung-galaxy-s9-128-gb"
                                           target="_blank" href="#"
                                           title="Samsung Galaxy S9 128 GB">
                                            <img alt="Samsung Galaxy S9 128
                                            GB" class="lazyload" data-src="
{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}" class="d2"> </a>
                                    </div>
                                    <div class="score score-grid"
                                         data-toggle="tooltip"
                                         data-placement="bottom" title="Kinlam
                                         Score is based on mobile specs, prices & other factors, this will guide you to select the best smartphone available in a price range.">79</div>
                                    <div class="compare-prices">
                                        <div class="mkt-ttl"><a href="#" title="Samsung Galaxy S9 128 GB">Samsung Galaxy S9 128 GB</a></div>
                                    </div>
                                    <div class="price"> <span> &#2547;61,900</span> </div>
                                    <div class="compare-prices2"><a title="Available on 1 store" target="_blank" href="#">Available on 1 store</a></div>
                                    <div class="mobile-info-part">
                                        <ul>
                                            <li><i class="fa fa-tablet"></i> 
                                                5.8 inches</li>
                                            <li><i class="fa fa-camera"></i> 
                                                12 MP Camera</li>
                                            <li><i class="fa
                                            fa-microchip"></i>  4 RAM</li>
                                            <li><i class="fa fa-battery"></i> 
                                                3000 mAh</li>
                                            <div class="border5"></div>
                                            <div class="rating-stars">
                                                <div class="grey-stars"></div>
                                                <div title="Rating: 4.0" style="width: 80%" class="filled-stars"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <div class="mobile-info"> <span data-mk-id="268933"></span>
                                    <div class="mobile-img">
                                        <a class="mobile-link"
                                           id="samsung-galaxy-s9-128-gb"
                                           target="_blank" href="#"
                                           title="Samsung Galaxy S9 128 GB">
                                            <img alt="Samsung Galaxy S9 128
                                            GB" class="lazyload" data-src="
{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}" class="d2"> </a>
                                    </div>
                                    <div class="score score-grid"
                                         data-toggle="tooltip"
                                         data-placement="bottom" title="Kinlam
                                         Score is based on mobile specs, prices & other factors, this will guide you to select the best smartphone available in a price range.">79</div>
                                    <div class="compare-prices">
                                        <div class="mkt-ttl"><a href="#" title="Samsung Galaxy S9 128 GB">Samsung Galaxy S9 128 GB</a></div>
                                    </div>
                                    <div class="price"> <span> &#2547;61,900</span> </div>
                                    <div class="compare-prices2"><a title="Available on 1 store" target="_blank" href="#">Available on 1 store</a></div>
                                    <div class="mobile-info-part">
                                        <ul>
                                            <li><i class="fa fa-tablet"></i> 5.8 inches</li>
                                            <li><i class="fa fa-camera"></i> 12 MP Camera</li>
                                            <li><i class="fa fa-microchip"></i> 4 RAM</li>
                                            <li><i class="fa fa-battery"></i> 3000 mAh</li>
                                            <div class="border5"></div>
                                            <div class="rating-stars">
                                                <div class="grey-stars"></div>
                                                <div title="Rating: 4.0" style="width: 80%" class="filled-stars"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <div class="mobile-info"> <span data-mk-id="268933"></span>
                                    <div class="mobile-img">
                                        <a class="mobile-link"
                                           id="samsung-galaxy-s9-128-gb"
                                           target="_blank" href="#"
                                           title="Samsung Galaxy S9 128 GB">
                                            <img alt="Samsung Galaxy S9 128
                                            GB" class="lazyload" data-src="
{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}" class="d2"> </a>
                                    </div>
                                    <div class="score score-grid"
                                         data-toggle="tooltip"
                                         data-placement="bottom" title="Kinlam
                                         Score is based on mobile specs, prices & other factors, this will guide you to select the best smartphone available in a price range.">79</div>
                                    <div class="compare-prices">
                                        <div class="mkt-ttl"><a href="#" title="Samsung Galaxy S9 128 GB">Samsung Galaxy S9 128 GB</a></div>
                                    </div>
                                    <div class="price"> <span> &#2547;61,900</span> </div>
                                    <div class="compare-prices2"><a title="Available on 1 store" target="_blank" href="#">Available on 1 store</a></div>
                                    <div class="mobile-info-part">
                                        <ul>
                                            <li><i class="fa fa-tablet"></i> 5.8 inches</li>
                                            <li><i class="fa fa-camera"></i> 12 MP Camera</li>
                                            <li><i class="fa fa-microchip"></i> 4 RAM</li>
                                            <li><i class="fa fa-battery"></i> 3000 mAh</li>
                                            <div class="border5"></div>
                                            <div class="rating-stars">
                                                <div class="grey-stars"></div>
                                                <div title="Rating: 4.0" style="width: 80%" class="filled-stars"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <div class="mobile-info"> <span data-mk-id="268933"></span>
                                    <div class="mobile-img">
                                        <a class="mobile-link"
                                           id="samsung-galaxy-s9-128-gb"
                                           target="_blank" href="#"
                                           title="Samsung Galaxy S9 128 GB">
                                            <img alt="Samsung Galaxy S9 128
                                            GB" class="lazyload" data-src="
{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}" class="d2"> </a>
                                    </div>
                                    <div class="score score-grid"
                                         data-toggle="tooltip"
                                         data-placement="bottom" title="Kinlam
                                         Score is based on mobile specs, prices & other factors, this will guide you to select the best smartphone available in a price range.">79</div>
                                    <div class="compare-prices">
                                        <div class="mkt-ttl"><a href="#" title="Samsung Galaxy S9 128 GB">Samsung Galaxy S9 128 GB</a></div>
                                    </div>
                                    <div class="price"> <span> &#2547;61,900</span> </div>
                                    <div class="compare-prices2"><a title="Available on 1 store" target="_blank" href="#">Available on 1 store</a></div>
                                    <div class="mobile-info-part">
                                        <ul>
                                            <li><i class="fa fa-tablet"></i> 5.8 inches</li>
                                            <li><i class="fa fa-camera"></i> 12 MP Camera</li>
                                            <li><i class="fa fa-microchip"></i> 4 RAM</li>
                                            <li><i class="fa fa-battery"></i> 3000 mAh</li>
                                            <div class="border5"></div>
                                            <div class="rating-stars">
                                                <div class="grey-stars"></div>
                                                <div title="Rating: 4.0" style="width: 80%" class="filled-stars"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <div class="mobile-info"> <span data-mk-id="268933"></span>
                                    <div class="mobile-img">
                                        <a class="mobile-link"
                                           id="samsung-galaxy-s9-128-gb"
                                           target="_blank" href="#"
                                           title="Samsung Galaxy S9 128 GB">
                                            <img alt="Samsung Galaxy S9 128
                                            GB" class="lazyload" data-src="
{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}" class="d2"> </a>
                                    </div>
                                    <div class="score score-grid"
                                         data-toggle="tooltip"
                                         data-placement="bottom" title="Kinlam
                                         Score is based on mobile specs, prices & other factors, this will guide you to select the best smartphone available in a price range.">79</div>
                                    <div class="compare-prices">
                                        <div class="mkt-ttl"><a href="#" title="Samsung Galaxy S9 128 GB">Samsung Galaxy S9 128 GB</a></div>
                                    </div>
                                    <div class="price"> <span> &#2547;61,900</span> </div>
                                    <div class="compare-prices2"><a title="Available on 1 store" target="_blank" href="#">Available on 1 store</a></div>
                                    <div class="mobile-info-part">
                                        <ul>
                                            <li><i class="fa fa-tablet"></i> 5.8 inches</li>
                                            <li><i class="fa fa-camera"></i> 12 MP Camera</li>
                                            <li><i class="fa fa-microchip"></i> 4 RAM</li>
                                            <li><i class="fa fa-battery"></i> 3000 mAh</li>
                                            <div class="border5"></div>
                                            <div class="rating-stars">
                                                <div class="grey-stars"></div>
                                                <div title="Rating: 4.0" style="width: 80%" class="filled-stars"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <div class="mobile-info"> <span data-mk-id="268933"></span>
                                    <div class="mobile-img">
                                        <a class="mobile-link"
                                           id="samsung-galaxy-s9-128-gb"
                                           target="_blank" href="#"
                                           title="Samsung Galaxy S9 128 GB">
                                            <img alt="Samsung Galaxy S9 128
                                            GB" class="lazyload" data-src="
{% static 'img/product/mobile/samsung-galaxy-c9-pro.jpg' %}" class="d2"> </a>
                                    </div>
                                    <div class="score score-grid"
                                         data-toggle="tooltip"
                                         data-placement="bottom" title="Kinlam
                                         Score is based on mobile specs, prices & other factors, this will guide you to select the best smartphone available in a price range.">79</div>
                                    <div class="compare-prices">
                                        <div class="mkt-ttl"><a href="#" title="Samsung Galaxy S9 128 GB">Samsung Galaxy S9 128 GB</a></div>
                                    </div>
                                    <div class="price"> <span> &#2547;61,900</span> </div>
                                    <div class="compare-prices2"><a title="Available on 1 store" target="_blank" href="#">Available on 1 store</a></div>
                                    <div class="mobile-info-part">
                                        <ul>
                                            <li><i class="fa fa-tablet"></i> 5.8 inches</li>
                                            <li><i class="fa fa-camera"></i> 12 MP Camera</li>
                                            <li><i class="fa fa-microchip"></i> 4 RAM</li>
                                            <li><i class="fa fa-battery"></i> 3000 mAh</li>
                                            <div class="border5"></div>
                                            <div class="rating-stars">
                                                <div class="grey-stars"></div>
                                                <div title="Rating: 4.0" style="width: 80%" class="filled-stars"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
