{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#0439AD" />
    <meta name="HandheldFriendly" content="true" />
    <title>Products Search, Lowest Prices for Online Shopping in
        Bangladesh</title>
    <meta name="google-site-verification" content="" />
    <meta name="verify-admitad" content="" />
    <meta name="wot-verification" content="" />
    <meta name="description" content="Get Lowest Prices, Discover deals for
    any product for online shopping in Bangladesh from your favorite online
    stores.">
    <meta name="keywords" content="">
    <meta http-equiv="content-language" content="en-us" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta property="og:title" content="Products Search, Lowest Prices for
    Online Shopping in Bangladesh" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Get Lowest Prices, Discover
    deals for any product for online shopping in Bangladesh from your favorite
    online stores." />
    <script type="text/javascript">
        var mnp = parseInt('0');
        var mxp = parseInt('0');
        var mnv = parseInt('0');
        var mxv = parseInt('0');
    </script>

    {#slick slider#}
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    {#font awesome#}
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'css/jitlam.css' %}" media="screen" />
</head>

<body role="document" class="page homepage">
    <section id="header" class="home_pages">
        <div class="cbp-af-header">
            <open></open>
            <div id="primary-menu">
                <div class="container nav-container">
                    <div class="row header-bottom-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <nav class="navbar navbar-inverse navbar-static-top">
                                <div class="logo1">
                                    <a href="/" title="jitlam.com">
                                        <img src="{% static 'img/logo.png' %}" alt="jitlam.com">
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% block body %}
    {% endblock %}

    <button onclick="topFunction()" id="myBtn" title="Go to top"><span
            class="top-scroll"><i class="fas fa-arrow-up
            fa-3x"></i></span></button>

    <section id="footer">
        <div class="footer-link">
            <div class="container">
                <div class="footer-sub">
                    <div class="footer-menu">
                        <div class="row">
                            <div class="clearfix">&nbsp;</div>
                            <div class="footer_logo">
                                <a href="/" title="jitlam.com">
                                    <img class="lazyload"
                                        data-src="{% static 'img/logo.png' %}"
                                        alt="jitlam.com"> </a>
                                <p>© 2018 jitlam <span class="sub">&reg;</span></p>
                                <p>
                                    <a href="/about-us" title="About Us">About Us</a> |
                                    <a href="/privacy"
                                       title="Privacy">Privacy</a> |
                                    <a href="/blog" title="Blog">
                                        Blog</a> |
                                    <a href="/contact-us" title="Contact Us"> Contact Us</a>
                                <div class="clearfix">&nbsp;</div>
                                <p class="text-center with-love">All Rights
                                    Reserved by <a href="/">Jitlam</a> &copy
                                    2018
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/slick.js' %}"></script>
<script src="{% static 'js/jquery.lazy.min.js' %}"></script>
<script src="{% static 'js/fontawesome.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('.single-item').slick({
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
        centerMode: true,
    });

    $('.lazyload').lazy({
        afterLoad: function(element) {
            $(element).addClass('lazyloaded');
        }
    });
});
</script>

    <script>
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 100 || document.documentElement
                .scrollTop > 100) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</body>

</html>
